<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Errors</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body class="dark:bg-black">
    <div class="container my-3 h-screen flex sm:m-3 sm:mx-auto overflow-hidden">
        <div class="mx-auto rounded-md self-center shadow-lg py-5 px-3 dark:border dark:border-slate-700">
            <h1 class="text-4xl text-red-400 dark:text-slate-400">404 Errors</h1>
            <p class="text-base mt-3 text-red-500 dark:text-slate-400 font-semibold">Page Not Found</p>
            <button
                class="text-black bg-white py-2 px-1 rounded-lg font-semibold mt-3 border hover:border-slate-300 hover:bg-transparent hover:text-white">Go
                Back Home</button>
        </div>
    </div>
</body>
<script>
    const button = document.getElementsByTagName("button");
    button[0].addEventListener("click", () => {
        location.href = "/";
    });
</script>

</html>